@import '_variables';


.big-shopping-cart {
    padding: 40px 0;


    .big-shopping-cart-img {
        width: 12vw;
        max-width: 100px;
        height: 7vh;
        object-fit: cover;
        object-position: center;
        margin: 0 1em;
        margin-left: 0;
    }

    ol {

        display: grid;
        flex-direction: column;
        list-style: upper-latin;

    }


    li {
        padding: 1rem;
        border-bottom: 1px solid $lightgray;
        display: grid;
        grid-template-columns: 30% 30% 20% 20%;
        justify-content: center;
        align-items: center;

        .cancelItem {
            padding: 1vw 2vw;
        }

    }



}

.big-shopping-cart-title {
    text-align: center;
    padding-top: 8vh;
    color: $text;
}

.big-shopping-cart-total {
    font-size: 1.2rem;
    font-weight: bold;
    width: 40vw;
    margin: 0 auto;
    padding-bottom: 3rem;
    text-align: right;
}


.big-shopping-cart-button {
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    transition: .2s ease-in;

    &:hover {
        transform: scale(1.1);
    }


}

a {
    text-decoration: none !important;
    color: $text;
}


@media (min-width:768px) {
    .main-section {
        margin-left: 25%;
    }
}