@import '_variables';

.big-shopping-cart {
    padding: 10vw;
    padding-bottom: 10px;
    width: 80vw;
    margin: 0 auto;
   


    .big-shopping-cart-img {
        width: 12vw;
        max-width: 100px;
        height: 7vh;
        object-fit: cover;
        object-position: center;
        margin: 0 1em;
    }

    li {
        padding: 1rem;
        border-bottom: 1px solid $lightgray;
  
    }

    ol {
        
        display: grid;
        flex-direction: column;

    }

    .big-shopping-cart-name {
        padding-left: 3rem;
        width: 20vw;

    }
    .big-shopping-cart-price{
      
       margin-left:10vw;
       margin-right:5vw;
    }
}

.big-shopping-cart-title {
    text-align: center;
    padding-top: 5vh;
    color: $text;
}

.big-shopping-cart-total{
    font-size: 1.2rem;
    width: 30vw;
    margin: 0 auto;
 padding-bottom: 3rem;
    text-align: right;
}